body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td {
    border: 1px solid blue;
    width: 150px;
    height: 150px;
}
td:hover {
    background: orange;
}
table {
    border: 1px solid green;
}
  